@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.josefin {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}




.footer {
    position: fixed;
    padding-top: .5rem;
    height: 3rem;
    bottom: 0;
    width: 100%;
}

footer {
    position: relative;
    margin-top: -150px;
    /* negative value of footer height */
    height: 3rem;
    clear: both;
    padding: 5px;
}
